# deploy/secrets.yml
discord_bot_token: ""
finnhub_api_key:   ""
deepl_api_key:     ""
fred_api_key:      ""
changeip_username: ""
changeip_password: ""


# 新增嵌套字典：统一管理 LLM 配置
ai_engines:
  api_key_gemeni: ""
  api_key_nvidia: ""
  api_key_claude: ""


